server:
  port: 8081

spring:
  application:
    name: "user"
  datasource:
    url: jdbc:mysql://localhost:3306/siki-user
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: '123456789'
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8880/realms/siki
  instance:
    preferIpAddress: true
  client:
    fetchRegistry: true
    registerWithEureka: true
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
info:
  app:
    name: "users"
    description: "Siki User Application"
    version: "1.0.0"
keycloak:
  auth-server-url: http://localhost:8880
  realm: siki
  resource: admin-cli
  credentials:
    secret: ZOn1oJbVjDKCBwZvJvE5JkjZXQhnxELd
